
#fotoPerfil {
  border:2px solid black;
  height: 200px;
  width:175px;
  }
#wpButton {
  background-color:green;
 }
#pdfButton{
  background-color:grey;
  }
#menu{
  border-bottom:2px solid black;
  }
#footerPicture {
  width: 190px;
  height: 220px;
}
#redSocial{
  width: 190px;
  }
/* Esta regla podría ser mas general */
#redSocial a {
  text-decoration:none;
}
#mail {
  text-decoration:none;
  }
#experienciaLaboral{
  color: blanchedalmond;
  height:3.5em;
  border-top: 2px solid chocolate;
  border-bottom: 2px solid chocolate;
}
/*
#experienciaLaboral {
   border: 1px solid midnightblue;
}*/

ul > li {
  list-style-type:none;
  padding-top: 0.2rem;/* Esto puede ser molesto en algunas ocaciones.
  Quizas se pueda añadir especificidad.*/
  }
/* Esta regla también es muy general */
ul i{
  width: 2rem;
  text-align:center;
  }

nav ul {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  }

.empresa { 
  color:chocolate;
  }
.logoEmpresa{
  width: 150px;
  height: 150px
}
/* FONT SIZES */

.fs-small{
  font-size:small;
  }

/* Colores */

.darkorange {
  color:darkorange;
}

.descripcion {
  text-align: justify;
  padding-right: 1em;
}

@media (min-width:576px) and (orientation: landscape) {
  .descripcion{
    width: 90%;
   }
  .acerca {
    width: 80%;
  }
}

