#inicio {
  padding-bottom: 3rem;
  }
#fotoPerfil {
  }
#wpButton {
  background-color:green;
 }
#menu{
  border-bottom:2px solid black;
  }
#footerPicture {
  width: 190px;
  height: 220px;
}
#redSocial{
  width: 190px;
  }
/* Esta regla podría ser mas general */
#redSocial a {
  text-decoration:none;
}
#mail {
  text-decoration:none;
  } 
#acerca{
  background-color: gold;
}
/*
#experienciaLaboral {
   border: 1px solid midnightblue;
}*/

ul > li {
  list-style-type:none;
  padding-top: 0.2rem;/* Esto puede ser molesto en algunas ocaciones.
  Quizas se pueda añadir especificidad.*/
  }
/* Esta regla también es muy general */
ul i{
  width: 2rem;
  text-align:center;
  }

nav ul { /* esto puede que ya no sirva */
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  }
main{
background-color: blanchedalmond;
}

.empresa { 
  color:chocolate;
  }
.logoEmpresa{
  width: 150px;
  height: 150px
}
.titulo{
  color: blanchedalmond;
  border-top: 2px solid chocolate;
  border-bottom: 2px solid chocolate;
}
/* FONT SIZES */

.fs-small{
  font-size:small;
  }

/* Colores */

.darkorange {
  color:darkorange;
}

p[class*="descripcion"] {
  text-align: justify;
  padding-right: 1em;
}
/*
@media (min-width:576px) and (orientation: landscape) {
  .descripcion-main{
    width: 90%;
   }
  .descripcion-footer {
    width: 75%;
  }
}
@media (min-width:768px) {
  #inicio {
    height: 25rem;
    margin: 3rem;
  }
  #fotoPerfil {
  height: 240px;
  width:205px;
  }
  .descripcion-main {
    width: 80%;
    } 
  .descripcion-footer{
    width: 50%;
  }
}
*/
